@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #333;
  --navbg: #aaaaaa;
}

.dark {
  --background: #2a2d2f;
  --foreground: #ededed;
  --navbg: #000;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.cutomtransition {
  /* transition: width 0.3s ease; */
  cursor: grab;
}
.customlink {
  position: relative;
  /* display: inline-block; */
  display: block;
  width: fit-content;
}

.customlink::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: wheat;
  transition: width 0.2s ease;
  left: 0;
}
.customlink:hover::after {
  width: 100%;
}

.rotate-animate {
  animation: rotate infinite linear 700ms;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
